/* PrimeReact component style overrides for exact form alignments */

/* Force Password component and its internal wrapper to flow 100% horizontally */
.p-password,
.p-password-input {
    width: 100% !important;
}

/* Fix overlapping of absolute Lucide Icons with input texts */
.p-inputtext {
    padding-left: 3.5rem !important;
}
.p-icon-field-right {
    width: 100% !important;
}
/* Fix right-side reveal eye icon for Password overlapping */
.p-password-input {
    padding-right: 3rem !important;
    width: 100% !important;
}
/* Ensure outer spans behave effectively as flex/block items */
.prime-override-pass {
    display: flex;
    width: 100% !important;
}
